/* GENERAL */

.disabled,
.disabled:hover {
	color: inherit !important;
	text-decoration: none;
}

.inactive,
.disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled,
input[type="checkbox"][class^="toggle"]:disabled {
	opacity: .5;
}

.disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled,
input[type="checkbox"]:disabled {
	cursor: not-allowed;
}

/* CONFIRM BOX */

div[id$="_confirmbox"] h2,
#confirm h2 {
	margin-bottom: .25em;
}

div[id$="_confirmbox"] {
	max-width: 450px;
	border: 2px solid skyblue;
	padding: .25em .5em;
	margin: .75em .5em .75em .75em;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 10px 1px rgba(121, 162, 179, 0.5);
	box-shadow: 2px 2px 10px 1px rgba(121, 162, 179, 0.5);
}

/* RESPONSIVE */

@media (max-width: 700px) {
	div[id$="_confirmbox"] {
		margin-left: 0;
	}
}
