/* ACP ConfirmBox (JS) */

div[id$="_confirmbox"] {
	max-width: 450px;
	border: 2px solid skyblue;
	margin: .75em .5em;
	padding: .25em .5em;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 10px 1px rgba(121, 162, 179, 0.5);
	box-shadow: 2px 2px 10px 1px rgba(121, 162, 179, 0.5);
}

div[id$="_confirmbox"] h2 {
	margin: 0 0 .25em 0;
}

div[id$="_confirmbox"] p:nth-of-type(2) {
	text-align: center;
	margin: 0;
	padding: 0 4px 4px 4px;
}

div[id$="_confirmbox"] input[type="button"] {
	padding: 3px 4px;
}

input[type="submit"]:disabled,
input[type="button"]:disabled,
input[class*="confirmbox_active"]:disabled {
	opacity: .5;
	cursor: not-allowed;
}

/*
   phpBB ACP Toggles - A CSS class that makes it easy to display checkboxes as toggles.
   Source     : https://danklammer.com/articles/simple-css-toggle-switch/
   Revision by: Kirk (customization and optimization), LukeWCS (optimization)
*/

.toggle {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 38px;
	height: 17px;
	position: relative;
	border-radius: 50px;
	cursor: pointer;
	font-family: FontAwesome;
	transition: background-color 0.3s;
	margin-top: 0.5em;
}

.toggle:before {
	position: absolute;
	width: 14px;
	height: 13px;
	background-color: #ffffff;
	top: 2px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 22px;
	content: "\f00d";
	transition: 0.3s;
}

.toggle,
.toggle:hover,
.toggle:focus {
	background-color: #cccccc;
	border: none;
	color: #000000;
}

.toggle:checked {
	background-color: #3b87ab;
}

.toggle:checked:before {
	left: 2px;
	content: "\f00c";
}

/* RESPONSIVE */

@media (max-width: 700px) {
	div[id$="_confirmbox"] {
		margin-left: 0;
	}
}
