{% include 'overall_header.html' %}

<h1>{{ lang('RECENT_TOPICS') }}</h1>
<p>{{ lang('RECENT_TOPICS_EXPLAIN') }}</p>

<form id="acp_board" method="post" action="{{ U_ACTION }}">

	<fieldset>
		<legend>{{ lang('RT_GLOBAL_SETTINGS') }}</legend>
		
		<dl>
			<dt>
				<label for="rt_enable">{{ lang('INDEX') ~ lang('COLON') }}</label><br><span>{{ lang('RT_DISPLAY_INDEX') }}</span>
			</dt>
			<dd>
				{{ _self.switch('rt_enable', RT_INDEX) }}
			</dd>
		</dl>

		<dl>
			<dt>
				<label for="rt_page_numbermax">{{ lang('RT_PAGE_NUMBERMAX') ~ lang('COLON') }}</label><br><span>{{ lang('RT_PAGE_NUMBERMAX_EXP') }}</span>
			</dt>
			<dd>
				<input type="number" name="rt_page_numbermax" size="3" min="1" max="999" value="{{ RT_PAGE_NUMBERMAX }}">
			</dd>
		</dl>
		
		<dl>
			<dt>
				<label>{{ lang('RT_PAGE_NUMBER') ~ lang('COLON') }}</label><br><span>{{ lang('RT_PAGE_NUMBER_EXP') }}</span>
			</dt>
			<dd>
				{{ _self.switch('rt_page_number', RT_PAGE_NUMBER) }}
			</dd>
		</dl>
		
		<dl>
			<dt>
				<label for="rt_min_topic_level">{{ lang('RT_MIN_TOPIC_LEVEL') ~ lang('COLON') }}</label><br><span>{{ lang('RT_MIN_TOPIC_LEVEL_EXP') }}</span>
			</dt>
			<dd>
				{{ _self.select('rt_min_topic_level', loops.topiclevel_row) }}
			</dd>
		</dl>

		<dl>
			<dt>
				<label for="rt_anti_topics">{{ lang('RT_ANTI_TOPICS') ~ lang('COLON') }}</label><br><span>{{ lang('RT_ANTI_TOPICS_EXP') }}</span>
			</dt>
			<dd>
				<input type="text" name="rt_anti_topics" size="30" value="{{ RT_ANTI_TOPICS }}">
			</dd>
		</dl>
		
		<dl>
			<dt>
				<label for="rt_parents">{{ lang('RT_PARENTS') ~ lang('COLON') }}</label><br><span>{{ lang('RT_PARENTS_EXP') }}</span>
			</dt>
			<dd>
				{{ _self.switch('rt_parents', RT_PARENTS) }}
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('RT_OVERRIDABLE') }}</legend>

		<dl>
			<dt>
				<label for="rt_location">{{ lang('RT_LOCATION') ~ lang('COLON') }}</label><br><span>{{ lang('RT_LOCATION_EXP') }}</span>
			</dt>
			<dd>
				{{ _self.select('rt_location', loops.location_row) }}
			</dd>
		</dl>

		<dl>
			<dt>
				<label for="rt_number">{{ lang('RT_NUMBER') ~ lang('COLON') }}</label><br><span>{{ lang('RT_NUMBER_EXP') }}</span>
			</dt>
			<dd>
				<input type="number" name="rt_number" size="3" min="0" max="999" value="{{ RT_NUMBER }}">
			</dd>
		</dl>

		<dl>
			<dt>
				<label for="rt_sort_start_time">{{ lang('RT_SORT_START_TIME') ~ lang('COLON') }}</label><br><span>{{ lang('RT_SORT_START_TIME_EXP') }}</span>
			</dt>
			<dd>
				{{ _self.switch('rt_sort_start_time', RT_SORT_START_TIME) }}
			</dd>
		</dl>

		<dl>
			<dt>
				<label for="rt_unread_only">{{ lang('RT_UNREAD_ONLY') ~ lang('COLON') }}</label><br><span>{{ lang('RT_UNREAD_ONLY_EXP') }}</span>
			</dt>
			<dd>
				{{ _self.switch('rt_unread_only', RT_UNREAD_ONLY) }}
			</dd>
		</dl>

		<hr>

		<dl>
			<dt>
				<label>{{ lang('RT_RESET_DEFAULT') ~ lang('COLON') }}</label><br><span>{{ lang('RT_RESET_DEFAULT_EXP') }}</span>
			</dt>
			<dd>
				{{ _self.switch('rt_reset_default') }}
			</dd>
		</dl>
	</fieldset>


	{% if S_RT_NEWSPAGE %}
	<fieldset>
		<legend>{{ lang('RT_VIEW_ON') }}</legend>

		<dl>
			<dt>
				<label for="rt_on_newspage">{{ lang('RT_NICKVERGESSEN_NEWSPAGE') ~ lang('COLON') }}</label>
			</dt>
			<dd>
				{{ _self.switch('rt_on_newspage', RT_ON_NEWSPAGE) }}
			</dd>
		</dl>
	</fieldset>
	{% endif %}

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>

		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" hidden>
			<input class="button1" type="button" id="ask_for_write" onclick="askForWrite()" value="{{ lang('SUBMIT') }}">&nbsp;
			<input class="button2" type="reset"  id="reset" name="reset" value="{{ lang('RESET') }}">
		</p>
	</fieldset>

	<fieldset>
		<legend>{{ lang('RT_DONATE') }}</legend>

		<dl>
			<dt>
				<label>{{ lang('RT_DONATE_SHORT') ~ lang('COLON') }}</label><br><span>{{ lang('RT_DONATE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<a href="{{ lang('RT_DONATE_URL') }}" target="_blank"><img src="{{ lang('PAYPAL_IMAGE_URL') }}" border="0" alt="{{ lang('PAYPAL_ALT') }}" style="cursor:pointer"></a>
			</dd>
		</dl>
	</fieldset>

	{{ S_FORM_TOKEN }}
</form>

<div id="ask_before_submit" style="display: none;">
	<div class="errorbox">
		<p>{{ lang('RT_RESET_SAVE_ERROR') }}<br><br>{{ lang('RT_RESET_SAVE_ERROR_EXP') }}</p>
	</div>

	<form  id="acp_extensions">
		<fieldset class="submit-buttons">
			<input class="button1" type="button" name="write_data" onclick="writeData()" value="{{ lang('EXPORT_STORE') }}">&nbsp;
			<input class="button2" type="button" name="cancel" onclick="abortWrite()" value="{{ lang('CANCEL') }}">
		</fieldset>
	</form>
</div>


{% include 'overall_footer.html' %}

{% INCLUDECSS '@paybas_recenttopics/acp_toggle.css' %}
{% INCLUDEJS '@paybas_recenttopics/acp_recenttopics.js' %}

{% macro switch(name, checked = false) %}
{% spaceless %}
	<input type="checkbox" class="toggle" id="{{ name }}" name="{{ name }}" value="1"{{ checked ? ' checked' }}>
{% endspaceless %}
{% endmacro %}

{% macro select(name, array) %}
	<select class="input" name="{{ name }}">
		{% for array_row in array %}
			<option value="{{ array_row.VALUE }}"{{ array_row.SELECTED }}>{{ array_row.OPTION }}</option>
		{% endfor %}
	</select>
{% endmacro %}
