/* Recent Topics
--------------------------------------------- */

#phpbbsection {
	overflow: hidden;
}

/* side view big screen maxed out */
@media screen and (min-width: 1024px)
{
	.index-left {
		width: auto;
		overflow: hidden;
	}
	.index-right {
		float: right;
		margin-left: 10px;
		width: 302px;
	}
}

/* smartphones */
/* put side view as top block anyways */
@media only screen and (max-width: 1024px) {
	/* hide the forum index */
	.index-left, .index-right {
		display: block;
		width: 100%;
	}
}

#recenttopics ul {
	list-style: none;
}

#recenttopics li.row {
	border-top: none;
	border-bottom-color: #222;
	transition: background 0.15s ease-in-out 0s;
}

#recenttopics li dl.icon {
	padding-bottom: 0px;
}

#recenttopics li.row dl {
	padding: 9px 5px 5px 0;
	position: relative;
}

#recenttopics li.row dl:after {
	clear: both;
	content: "";
	display: block;
}

#recenttopics a.topictitle {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 1px;
}

#recenttopics a.forum-link {
	color: #877b69;
	font-size: 10px;
}

#recenttopics dd.lastpost {
	bottom: 3px;
	right: 5px;
	line-height: normal;
	display: block;
	min-height: inherit;
	width: auto;
	text-align: right;
}

#recenttopics dl {
	position: relative;
}

#recenttopics dd.status-icons {
	position: absolute;
	top: 3px;
	right: 5px;
	min-height: inherit;
}

#recenttopics dd.status-icons > a,
#recenttopics dd.status-icons > span {
	float: right;
	margin-left: 2px;
}

#recenttopics-stop .action-bar {
	margin-bottom: 0.5em;
}

#recenttopics-side .forabg + .action-bar,
#recenttopics-bottom .forabg + .action-bar,
#recenttopics-separate .forabg + .action-bar {
	margin-top: 4px;
}
