{% if RECENT_TOPICS_DISPLAY && recent_topics_included != true %}
	{% set recent_topics_included = true %}
	{% if S_LOCATION_TOP %}

		<div id="recenttopics-stop">
		{% include '@paybas_recenttopics/recenttopics_body_topbottom.html' %}
		</div>
	{% elseif S_LOCATION_SIDE %}
		<div id="phpbbsection">
		<div class="index-right">
		<div id="recenttopics-side">
		{% include '@paybas_recenttopics/recenttopics_body_side.html' %}
		</div>
		{% EVENT recenttopics_mchat_side %}

		{% if ADS_INDEX_CODE && !S_IS_BOT && definition.ADSIDE == false %}
		{% set ADSIDE = 1 %}
		<div class="misc-block advertisement">{{ ADS_INDEX_CODE }}</div>
		{{ definition.ADS }}
		{% endif %}

		</div>
		<div class="index-left">
	{% endif %}
{% endif %}
