{% include 'overall_header.html' %}

{% EVENT viewforum_forum_title_before %}
<h2 class="forum-title"><a href="{{ U_RT_PAGE_SEPARATE }}">{{ lang('RECENT_TOPICS') }}</a></h2>
{% EVENT viewforum_forum_title_after %}
{% EVENT viewforum_body_topic_row_before %}
{% set S_LOCATION_TOP = true %}
{% set S_LOCATION_BOTTOM = true %}
<div id="recenttopics-separate">
{% include '@paybas_recenttopics/recenttopics_body_topbottom.html' %}
</div>

{% include 'jumpbox.html' %}

{% include 'overall_footer.html' %}
